body{
    overflow: hidden;
}

.display{
    height: 100vh;
    display: flex;
}

.container{
    height: 100vh;
    overflow: auto;
    padding: 50px 5px;
    padding-bottom: 100px;
}


/* Sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: lightgray;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar-btn{
    margin: 10px;
}


/* Index */
.table{
    font-size: 14px;
}

.table .btn{
    font-size: 14px;
}

/* Edit and New */
.form-div{
    padding: 20px;
    max-width: 400px;
    text-align: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* Show */
.show-action-btn{
    display: flex;
    justify-content: space-between;
}